// COLOR VARIABLES
$color-navy: rgba(58, 58, 81, 1);
$color-navy-light: rgba(96, 96, 142, 1);
$color-pink: rgba(255, 101, 138, 1);
$color-pink-light: rgba(254, 141, 168, 1);


$color-white: white;
$color-black: black;
$color-grey-light: rgb(168, 168, 168);

// FONT VARIABLES
$font-primary: 'Oleo Script', cursive;
$font-secondary: 'Open Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 64em;   // 1024px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
$bp-smallest: 24em;  //382px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-secondary;
    color: $color-black;
}

.container {

    display: grid;
    grid-template-rows: 70vh min-content min-content min-content 6rem;
    grid-template-columns: [nav-start] 20rem [nav-end full-start] minmax(10rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(10rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-large) {
        grid-template-rows: 70vh min-content min-content min-content min-content 6rem;
        grid-template-columns: [nav-start] 20rem [nav-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 6rem calc(80vh - 6rem);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
    }
}

.wip-warning {
    text-align: center;
    background-color: red;
    color: white;
    padding: 2rem;
    width: 100%;
    position: fixed;
    z-index: 100;
}