.footer {
    background-color: $color-navy-light;
    grid-column: full-start / -1;
    grid-row: 5 / 6;

    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
}