.gallery {
    background-color: $color-white;
    grid-column: center-start / center-end;
    grid-row: 4 / 5;

    display: grid;
    grid-template-rows: min-content min-content;
    margin: 5rem 0;

    grid-row-gap: 2rem;

    @media only screen and (max-width: $bp-large) {
        grid-column: center-start / center-end;
        grid-row: 5 / 6;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-column: center-start / center-end;
        grid-row: 6 / 7;
    }

    @media only screen and (max-width: $bp-small) {
        margin: 3rem 0;
    }

    &__heading {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }

    &__items {
        grid-row: 2 / 3;
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 12vw);
        grid-gap: 3rem;

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 20rem);

            grid-gap: 3rem;
        }

        @media only screen and (max-width: $bp-small) {
            grid-gap: 1rem;
        }
        
    }

    &__img {

        &--1 {

        }

        &--2 {

        }

        &--3 {
            grid-row: 1 / -1;
            grid-column: 3 / -1;

            @media only screen and (max-width: $bp-medium) {
                grid-row: 2 / 4;
                grid-column: 1 / -1;
            }

        }

        &--4 {

        } 

        &--5 {

        }

        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}