.info {
    background-color: $color-pink;
    grid-column: col-end 6 / full-end;
    color: $color-white;
    font-size: 1.5rem;

    display: grid;
    grid-template-rows: minmax(min-content, 1fr) 1px minmax(min-content, 1fr) ;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
        grid-column: full-start / -1;
        grid-row: 2 / 3;
        grid-template-rows: 1fr;
        grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
        align-items: start;

        padding: 2rem;

    }

    
    @media only screen and (max-width: $bp-medium) {
        grid-column: full-start / -1;
        grid-row: 3 / 4;
    }

    

    &__tele {
        color: $color-white;
        text-transform: uppercase;
    }

    &__line {
        width: 100%; 
        height: .5px; 
        background: $color-white;

        @media only screen and (max-width: $bp-large) {
            display: none;
        }
    }

    &__address {
        
        text-align: center;
        &-text {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: .5rem;
        }
    }

    &__hours {
        text-align: center;
        &-text {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media only screen and (max-width: $bp-large) {
                justify-content: center;
            }
        }
    }

    &__days-1 {
        margin-bottom: .5rem;

        @media only screen and (max-width: $bp-large) {
            margin-right: 5rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-right: 1rem;
        }
    }

    &__days-2 {
        @media only screen and (max-width: $bp-large) {
            margin-right: 5rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-right: 1rem;
        }
    }

    &__times-1 {
        margin-bottom: .5rem;
    }
}