.menu {
    &__container {
        background-color: $color-white;
        grid-column: full-start / -1;
        grid-row: 1 / 3;

        @media only screen and (max-width: $bp-large) {
            grid-column: full-start / -1;
            grid-row: 1 / 4;
        }
    
        @media only screen and (max-width: $bp-medium) {
            grid-column: full-start / -1;
            grid-row: 2 / 4;

        }

    }

    &__fullmenu {
        background-color: $color-navy;
        padding: 2rem;
        display: none;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-small) {
            padding: 1rem;
        }

        &-img {
            width: 100%;
        }
    }

    &__header {
        color: white;
        display: flex;
        background-image: linear-gradient(rgba($color-navy, .85), rgba($color-navy, .85)), url(../img/doughnuts.png);
        justify-content: center;
        align-items: center;
        background-size: cover;
        height: 17vh;
        @media only screen and (max-width: $bp-medium) {
            height: 12vh;
        }
    }

    &__search {
        background-color: $color-navy;
        color: $color-white;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &--text {
            margin: 0 1rem;
            font-size: 1.3rem;
        }

        &--bar {
            padding: .25rem;
            width: 90%;
        }

        @media only screen and (max-width: $bp-large) {
            display: none;

        }
    }

    &__tabs {
        background-color: $color-navy-light;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__tab {
        text-decoration: none;
        color: $color-white;
        font-size: 1.5rem;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        padding: 1rem 0;

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.2rem;
        }
    }

    &__tab:hover {
        background-color: $color-pink;
        color: $color-white;
    }

    &__tab.active {
        background-color: $color-pink;
        color: $color-white;
    }

    &__main {
        margin: 6rem;

        @media only screen and (max-width: $bp-medium) {
            margin: 3rem;
        }
    }

    &__category {

        &--header {
            margin-bottom: 2rem;
        }

        &--line {
            width: 100%; 
            height: 1px; 
            background: $color-navy-light;
    
        }
        margin: 5rem 0;

    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 5rem;

        @media only screen and (max-width: $bp-small) {
            grid-gap: 2rem;
        }
    }

    &__img {
        position: relative;
    }

    &__overlay {
        padding: 3.5rem 4rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(19, 15, 43, 0.712);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        opacity: 0;
        backdrop-filter: blur(2px);
        transition: opacity 0.25s;
    }

    &__overlay > * {
        transform: translateY(20px);
        transition: transform 0.25s;
    }

    &__overlay:hover {
        opacity: 1;
    }
    
    &__overlay:hover > * {
        transform: translateY(0);
    }

    &__item{
        position: relative;

        &--text {
        background-color: $color-navy;
        color: $color-white;
        transform: translateY(-25%);
        font-size: 1.3rem;
        text-transform: uppercase;
        text-align: center;

        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        padding: 1.2rem;

            @media only screen and (max-width: $bp-small) {
                font-size: 1.7rem;

            }

        }

        

        &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--price {
            font-size: 1.2rem;
            margin-top: 1rem;
            font-weight: 600;
        }

        &--descript {         
            font-size: 1.2rem;
        }

    }
   

    
}

[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }


.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        background-color: $color-navy;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        &--arrow-left {
            background-color: $color-pink;
            width: 8rem;
            height: 8rem;
            position: absolute;
            left: 5rem;
        }

        &--arrow-right {
            background-color: $color-pink;
            width: 8rem;
            height: 8rem;
            position: absolute;
            right: 5rem;
        }


        &--content {
            width: 50%;
            height: 50%;
            padding: 4rem;

            &--img {
                width: 100%;
                object-fit: cover;
            }

            &--name {
                margin-top: 1rem;
                font-size: 2rem;
                color: $color-white;
                text-align: center;
            }

            &--price {
                font-size: 1.5rem;
                color: $color-grey-light;
                text-align: center;
            }

            &--text {
                margin-top: 3rem;
                font-size: 1.5rem;
                color: $color-white;
                line-height: 1.5;
            }

            &--flavors {
                margin-top: 2rem;
                font-size: 1.5rem;
                color: $color-grey-light;
            
            }
        }
    }
}

.arrow {
    color: white;
    font-size: 10rem;
    position: absolute;
    left: 30%;
    bottom: -20%;
}

.show {
    display: flex;
}
