.messages {
    background-color: $color-navy-light;
    grid-column: full-start / -1;
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
    align-items: center;
    justify-content: center;

    padding: 2rem;

    @media only screen and (max-width: $bp-large) {
        grid-column: full-start / full-end;
        grid-row: 4 / 5;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-column: full-start / full-end;
        grid-row: 5 / 6;
    }

    
    @media only screen and (max-width: $bp-small) {
        grid-template-columns: minmax(min-content, 1fr);
        grid-template-rows: minmax(min-content, 1fr) minmax(min-content, 1fr);
    }
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        color: $color-white;
        font-size: 1.6rem;

        @media only screen and (max-width: $bp-small) {
            margin-bottom: .5rem;
            font-size: 2rem;
        }
        
    }

    &__btn {
        font-family: $font-primary;
        text-transform: none;
        font-size: 3rem;
        font-weight: 300;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2.5rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-top: 2rem;
        }
    }
}

