.nav {
    background-color: $color-navy;
    grid-column: nav-start / nav-end;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    //position fixed
    position: fixed;
    height: 100%;
    width: 20rem;

    @media only screen and (max-width: $bp-medium) {
        position: relative;
        height: 100%;
        width: 100%;

        grid-row: 1 / 2;
        grid-column: full-start / full-end;

        flex-direction: row;
    }


    &__logo {
        font-family: $font-primary;
        color: $color-white;
        font-size: 2.5rem;

        @media only screen and (max-width: $bp-medium) {
            margin: 0 3rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
            margin: 0 2rem;
        }

    }

    &__select {
        margin: 2rem 0 ;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: row;
            margin: 0 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin: 1rem 0 ;
        }
        
    }


    &__link {
        // background-color: $color-pink;
        // padding: 1rem;

        display: block;
        letter-spacing: 1px;
        color: $color-pink-light;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 2rem;

        @media only screen and (max-width: $bp-medium) {
            margin: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin: 1rem;
        }
    }

}