.popular {
    background-color: $color-white;
    grid-column: center-start / center-end;
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: min-content min-content;
    
    grid-row-gap: 2rem;
    margin: 5rem 0;

    @media only screen and (max-width: $bp-large) {
        grid-column: center-start / center-end;
        grid-row: 3 / 4;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-column: center-start / center-end;
        grid-row: 4 / 5;

        margin: 3rem 0;
    }

    &__heading {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }

    &__items {
        grid-row: 2 / 3;
        grid-column: 1 / -1;

        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
        grid-gap: 2rem;
    }


    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__text {
        background-color: $color-navy;
        text-align: center;
        color: white;
        padding: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        transform: translateY(-10%);

        @media only screen and (max-width: $bp-small) {
            padding: 1.5rem;
            font-size: 1.7rem;
        }
    }

    &__text-price {
        font-weight: 600;
    }
}