body {
    margin: 0;
    background-color: rgb(245, 245, 245);
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

p {
    margin: .5em;
}

h1 {
    margin: 0;
}


.nav {
    position: relative;
    top: 0;
    padding: .75em;
    font-size: 8px;
}

.nav h1{
    margin-left: .5em;
    font-family: 'Oleo Script', cursive;
}

#page-nav label, #hamburger {
    display: none;
  }

#page-nav label {
    display: block;
    position: absolute;
    top: .25em;
    right: .25em;
    color:black;
    font-style: normal;
    font-size: 2em;
  }

  /* Break down menu items into vertical */
  #page-nav ul li {
    display: block;
    text-align: right;
    margin: 1em 3em 1em 1em;
  }
  #page-nav ul li {
    /* border-top: 1px solid #333; */
  }

  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
    font-size: 10px;
  }

  #page-nav input:checked ~ ul {
    display: block;
    animation: transitionIn 1s;
  }

  .intro {
      background-color: rgba(62, 55, 55, 1);
      color: white;
  }

  .intro h1 {
      padding-top: .5em;
      text-align: center;
      font-family: 'Oleo Script', cursive;
      font-size: 36px;
  }

  .intro p {
      padding-left: 1em;
      padding-right: 1em;
  }

  .intro img {
      width: 100%;
      margin-top: .5em;
  }

  .menu-items {
    width: 100%;
  }

  .menu-select img {
    object-fit: contain;
    width: 100%;
  }

  .item-box {
    position: absolute;
    bottom: .25em;
    background-color: black;
    width: 100%;
    height: 20%;
    opacity: 75%;
  }
  
  .menu-select {
    position: relative;
    width: 80%;
    margin: 2em auto 1em auto;
  }

  .item-box h2{ 
    color: white;
    top: .25em;
    position: relative;
    bottom: .25em;
    opacity: 100%;
    margin: 0 auto;
    text-align: center;
  }


  #map {
      height: 500px;
      width: 100%;
  }

  .information {
    background-color: rgba(62, 55, 55, 1);
    color: white;
    width: 100%;
  }

  .locate-hour {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .information h3 {
        text-align: center;
        font-family: 'Oleo Script', cursive;
        font-weight: 300;
        text-decoration: underline;
        font-size: 36px;
        margin: 0em;
  }

  .left{
    margin: 0em;
    margin-left: 1.5em;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    left: 0em;
    text-align: left;
  }

  .right{
      margin-right: 1.5em;
      display: inline-flex;
      flex-direction: column;
      position: absolute;
      right: 0em;
      text-align: right;
  }